<?xml version="1.0"?>
<!--
/**
* Suitepay_Platform default configuration
*
* @category    Suitepay
* @package     Suitepay_Platform
* @author      Ilya Gokadze
* @copyright   Suitepay (http://suitepay.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <suitepay_platform>
                <active>0</active>
                <model>Suitepay\Platform\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>SuitePay Checkout</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </suitepay_platform>
        </payment>
    </default>
</config>
